@import 'cssReset';
@import 'variables';
@import 'mixins';
@import 'images';
@import 'nav';
@import 'icons';
@import 'paragraph';
@import 'buttons';




body{
	background: $backColor;
	color: $fontColor;
}

.heading{
	width: $headingWidth;
	margin: $headingMargin;
	font-family: $headingFont;
	padding-top: $headingPadding;
	text-align: center;

	font-size: $headingSize;
}
